{
    "MiniZombie": (
        life_total: 10,
        armor_value: 1,
        initiative: 12,
        attack: 10,
        defense: 6,
        damage: 1,
        num_w6: 1,
        finte_level: 1,
        wuchtschlag_level: 0,
        name: "Mini Zombie",
    ),
    "Scientist": (
        life_total: 15,
        armor_value: 0,
        initiative: 10,
        attack: 12,
        defense: 10,
        damage: 4,
        num_w6: 1,
        finte_level: 2,
        wuchtschlag_level: 1,
        name: "Scientist",
    ),
    "BigZombie": (
        life_total: 20,
        armor_value: 3,
        initiative: 6,
        attack: 13,
        defense: 8,
        damage: 2,
        num_w6: 2,
        finte_level: 1,
        wuchtschlag_level: 2,
        name: "Big Zombie",
    ),
    "Endboss": (
        life_total: 50,
        armor_value: 5,
        initiative: 4,
        attack: 14,
        defense: 10,
        damage: 1,
        num_w6: 4,
        finte_level: 3,
        wuchtschlag_level: 3,
        name: "Endboss",
    ),
}